
.header__wrap{
    background-color:var(--gren-color);
    border-radius: 5px;
    color: var(--header-color);
    padding: 2px 2px 2px 14px;
}

.header__tel-wraper{
    display: block;
    position: relative;  
}
.header__info-wrapper {
    display: none;
}
.header__info-wrapper > * {
    margin-left: 24px;
}
.header__ic-phone{
    display:inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: -20px;

}
.header__title{
   font-size: 18px; 
}
.header__tel{
    font-size: 18px;  
}
.font-famile{
    font-size: 9px;
    font-style: italic;
    font-family: 'Mulish', sans-serif;
}
.header__tel-info{
    margin-top: 10px;
    margin-right: 10px;
    text-align: end;
    font-size: 12px;
}

.header__ic{
    display: block;
    margin: auto;
    max-width: 35px;
    max-height: 35px;
}
.header__button{
    display: block;
    padding: 16px 29px;
    border:2px solid var(--header-color) ;
    border-radius: 4px;
    font-size: 12px;
}
.header__button:hover{
    background-color: var(--header-color);
    color:var(--gren-color);
}
.header__ic-menu{
    display: block;
    width: 66px;
    height: 66px; 
}
@media screen and (min-width:320px){
    .container{
       min-width: 300px;
    }
    body{
        margin:7px 12px ;
    }
    .header__ic-menu{
        display: block;
    }
}
@media screen and (min-width:768px) {
    .container{
        min-width: 720px;
    }
    body{
        margin:7px 22px;
    }
    .header__wrap{
        padding: 0 2px 0 32px ;
    }
    .header__title{
        font-size: 27px;
    }
    .header__ic-menu{
        width: 93px;
        height: 93px;
    }
}
@media screen and (min-width:1024px) {
    .container{
        min-width: 963px;
    }
    body{
        margin: 7px 31px;
    }
    .header__wrap{
        padding: 20px 32px ;
    }
    .header__info-wrapper {
        display: flex;
    }
    .header__ic-menu{
        display: none;
    }
    .header__ic{
        width: 20px;
        height: 20px;
    }

}
@media screen and (min-width:1336px) {
    .container{
        min-width: 1169px;
    } 
    body{
        margin: 7px 83px;
    }
    .header__wrap{
        padding: 32px 41px 27px  66px ;
    }
    .header__title{
        font-size: 32px;
    }
    .header__tel{
        font-size: 22px;
    }
    .font-famile{
        font-size:11px;
    }
    .header__ic-phone{
        width: 20px;
        height: 20px;
        left: -25px;
        bottom: 24px;
    }
    .header__ic{
        width: 18px;
        height: 18px;
    }
    .button{
        padding: 15px 35px;
        border-radius: 5px;
        font-size:14px;
    }
    .header__tel-info{
        font-size:14px;

    }
    

}
@media screen and (min-width:1920px) {
    .container{
        min-width: 1664px;
    } 
    body{
        margin: 8px 128px;
    }
    .header__wrap{
        padding: 37px 51px 37px  85px ;
    }
    .header__title{
        font-size: 45px;
    }
    .header__tel{
        font-size: 31px;
    }
    .font-famile{
        font-size:19px;
    }
    .header__ic-phone{
        width: 28px;
        height: 28px;
        left: -35px;
        top:3px;
    }
    .header__ic{
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
    }
    .button{
        border:3px solid var(--header-color) ;
        padding: 21px 45px;
        border-radius: 7px;
        font-size:20px;
    }
}
