.nav{
    display: none;
    margin-top: 14px;
}
.outside-menu-items{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.nav__list{
    position: relative;
    padding: 10px 15px;
    color: var(--nav-color); 
}
.nav__list:hover{
    color: var(--gren-color);
}
.nav__link{   
    font-size: 15px;  
}
.link-menu{
    display: inline-block;   
    min-width: 13px;
}
.link-menu:hover{
    filter: invert(69%) sepia(23%) saturate(906%) hue-rotate(71deg) brightness(94%) contrast(90%);
}
.nav__sublist-menu{
    display:none;
    position: absolute;
}
.right-arrow{
    display: inline-block;    
}
.nav__sublist-menu>.nav__items{
    width: 220px;
    margin-top: 1px;
    padding: 10px 10px; 
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-size:10px ;
    color: var(--header-color);
    background-color: var(--gren-color);  
}
.nav__items:first-child{
   border-radius: 5px 5px 0 0;
}
.nav__items:last-child{
    border-radius: 0 0 5px 5px;
}
.nav__items:hover{
    background-color:#60A861 ;
}
.nav__items{
    display: flex;
    justify-content: space-between;
}
.nav__sab-link{
    display: block;
}
.nav__list-search:hover{
    box-shadow: 0px 0px 11px 1px rgba(34, 60, 80, 0.32);
}
.nav__list:hover>.nav__sublist-menu{
    display: block; 
}
.nav__items:hover>.nav__sublist-menu{
    display: block;
}
.nav__sublist-menu.nav__sublist-menu{
    top: 30px;
}
.nav__items .nav__sublist-menu{
    top:31px;
    left:220px;
}

.nav__list-search{
    display: inline-block;
    position: relative;
    margin-right: 20px;
    border-radius: 5px;  
}
.img-search{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}
.img-search:hover{
    filter: invert(69%) sepia(23%) saturate(906%) hue-rotate(71deg) brightness(94%) contrast(90%);
}
.nav__input{ 
    display: none;
    position: absolute; 
    top: 40px;
    right: 1px;
    padding: 10px 30px 10px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 11px 1px rgba(34, 60, 80, 0.32);
}
.nav__list-search:hover>.nav__input{
    display: block;
}
@media screen and (min-width:320px){
    .container{
        min-width: 300px;
    }
}
@media screen and (min-width:768px) {
    .container{
        min-width: 720px;
    }
}
@media screen and (min-width:1024px) {
    .container{
        min-width: 980px;
    }
    .nav{
        display: block ; 
    }
}
@media screen and (min-width:1336px) {
    .container{
        min-width: 1250px;
    } 
    .nav{
        margin-top: 19px;
    }
    .nav__list{
        margin: 0 10px;
    }
    .nav__link{   
        font-size: 18px;  
    }
    .link-menu{
        width:23px ;
    }
    .img-search{
        width: 40px;
        height: 40px;
        padding: 5px;
    }
    
}
@media screen and (min-width:1920px) {
    .container{
        min-width: 1700px;
    }
    .nav{
        margin-top: 31px;
    }
    .img-search{
        width: 45px;
        height: 45px;
    }
    .nav__link{   
        font-size: 25px;  
    }
}