:root{
    --header-color:#FFFFFF;
    --gren-color:#65C466;
    --grey-color:#C4C4C4;
    --nav-color:#414141;
    font-family: 'Mulish', sans-serif;
}
*{
    box-sizing: border-box;
}
body{ 
    margin:7px 13px 5px;
}
.container{
    width: 100%;
}
.transform{
    text-transform:uppercase;
}
.overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
