:root{
    --header-color:#FFFFFF;
    --gren-color:#65C466;
    font-family: 'Mulish', sans-serif;
}
body{ 
    box-sizing: border-box;
    margin-top: 1rem;
}
.container{
    width: 100%;
    margin: auto;
}
.transform{
    text-transform:uppercase;
}
.overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
