:root{
    --header-color:#FFFFFF;
    --gren-color:#65C466;
    --grey-color:#C4C4C4;
    --nav-color:#414141;
    --input-color:#C2C2C2;
    --dark-grey-сolor:#9D9D9D;
    --dark-color:#696969;
    font-family: 'Mulish', sans-serif;
}
* {
    box-sizing: border-box;
}
.transform{
    text-transform:uppercase;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.font-Mulish{
    font-family:  'Mulish', sans-serif;
}
.button{
    border: 1px solid var(--gren-color);
    background: var(--gren-color);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: var(--header-color);  
}
.button:hover{
    background:var(--header-color); 
    color: var(--gren-color);
    border: 1px solid var(--header-color);
}
.box-shadow{
    border: 1px solid #CCCCCC;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

